body{
    font-family: system-ui;
    background-color: yellow;
    margin: 0;
}

h1{
    color:white;
    margin: 50px;
    padding: 50px;
}

h2{
    color:black;
}

h3{
    text-align: center;
    color:white;
    font-size: 30px;
}

p, h2, h3 {
    text-align: center;
}

a:focus{
    color: black;
}

.text{
    
}

.header{
    background-color: rgb(218, 38, 32);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border: 20;
}

.projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.project{
    margin: 50px;
}

.project:hover{
    opacity: 0.9;
    /*width: 500px;
    height: 500px;
    background-color: black;*/
}

.footer{
    background-color: rgb(218, 38, 32);
    display: flex;
    justify-content: center;
}

.footerItem{
    margin: 0 50px;
}
